@model List<Person>

<h1>Welcome to reg</h1>
<a asp-action="Create">Add person</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phonenumber</th>
            <th>City</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (Person person in Model)
        {
        <tr>
            <td>@person.Name</td>
            <td>@person.PhoneNumber</td>
            <td>@person.City</td>
            <td>@Html.ActionLink("Details", "Details", "People", new { id = person.PersonId })</td>
            <td></td>
            <td>@Html.ActionLink("Delete", "Delete", "People", new { id = person.PersonId })</td>



        </tr>
        }
    </tbody>
</table>

